.App {
  text-align: center;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
  margin: 4% 2%;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.header {
  height: 15vh;
  border-bottom: 2px dashed gray;
  display: flex;
  justify-content: center;
}

.player-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-card{
  border: 2px solid gray;
  border-radius: 20px;
  background: #787a7c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  
  height: 200px;
  width: 250px;
}
